@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
    color:blue;
    margin: 0;padding: 0;
}
.main{
    margin:5vh 0 0 2vw;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /* border: 2px solid black; */

}
.heading{
    margin-top: 20px;
}
.main ul{
      list-style-type: none ;
      border-top: 5px solid ghostwhite;
}
.main ul li{
    color:black;
    font-size:large;
    margin: 10px 0;
    padding: 20px 0;
    background-color: aliceblue;
}
h1{
    color:black;
}
.exercises{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}
.exercises img{
    /* margin: 0 30px; */
    width: 40vw;
}

#menu {
    font-size: large;
    color:black;
    margin:0 0 0 5%;
    border: 5px solid aliceblue;
    background-color: aliceblue;
    width: 70%;
    height: 8vh;
}
.upside a{
    font-size: 7vh;
}
@media screen and (min-width:1000px) {
    .upside {
        display: none;
    }
}
/* @media screen and (min-width:1000px){
#menu{
display: none;
}
} */
@media screen and (max-width:999px){
    .exercises img{
        width: 600px;
    }
    option{
        padding-bottom: 40px;
    }
} 
@media screen and (max-width:500px){
    .exercises img{
        width: 400px;
    }
} 
@media screen and (max-width:400px){
    .exercises img{
        width: 300px;
    }
} 